#header {
   position: absolute;
   z-index: 999;
   padding-top: 2%;
   width: 100%;


     a {
       text-decoration: none;
       font-family: 'open sans';
       color: white;
       align-self: center;
       white-space: nowrap;
      }

}
