<footer id="footer">
    <div class="container">
      <div class="row">
          <div class="twelve columns flex flex-space-between">
              <img src="<%= url_for 'images/at-logo.png' %>" alt="">
              <p>
                Ce site a été proposé par annuaire thérapeute <br>
                2017-2018
              </p>
              <a href="">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </a>
          </div>
      </div>
    </div>
</footer>
