<header id="header">
    <div class="container">
      <div class="row">
          <div class="twelve columns flex flex-space-between">
                <a href="/sophrologie">La sophrologie</a>
                <a href="/cabinet">Le cabinet</a>
                <a href="/"><span id="header-lead">Thais Korelsky</span> <br> 06 74 15 61 39</a>
                <a href="/about">Qui suis-je ?</a>
                <a href="/contact">Contact</a>
          </div>
      </div>
    </div>
</header>

<%# TODO: Make responsive %>
