<header id="header">
    <div class="container">
      <div class="row">
          <div class="twelve columns flex flex-space-between">
                <a href="/sophrologie">La sophrologie</a>
                <a href="/cabinet" id="navbar-toggle">Le cabinet</a>
                <a href="/"><span>Thais Korelsky</span></a>
                <a href="/about" id="navbar-toggle">Qui suis-je ?</a>
                <a href="/contact" id="navbar-toggle">Contact</a>
          </div>
      </div>
    </div>
</header>
