---
title: Homepage
---

<div class="banner-frame" style="background-image: url(<%= url_for 'images/header-background.jpg' %>)">
    <div class="container">
        <div class="banner">

        </div>
    </div>
</div>

<div class="home-1">
    <h1>Bienvenue sur mon site</h1>
</div>
